#pipelines_selector {
    min-height: 735px !important; 
    min-width: 500px !important;
}

.page_header {
    background-color: #33364e !important;
}

.page_header h1.entity_title {
    color: white !important;
}

.enhanced_dropdown {
    min-width: 400px !important;
}

.scrollable_panel {
    position: relative;
    min-width: 400px !important;
    min-height: 600px  !important;
}

.selector_pipeline .label {
    width: 400px !important;
}

.apply_button {
    color: black !important;
}

#options-body  { 
    margin: 0; 
    height: 300px; 
    width: 500px; 
}

#options-body h1 { 
    font-weight: bold; 
    margin-bottom: 25px;
    color: rebeccapurple;
}

#options-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.help-label {
    color: rebeccapurple;
    font-size: 10pt;
    margin-left: 138px;
    margin-top: -12px;
    margin-bottom: 10px;
}

#save {
    background-color: mediumpurple;
    color: white;
    height: 30px;
    border-radius: 10px;
    text-align:  center;
    margin-top: 60px;
    font-size: 15pt;
}

#status {
    display: none;
    background-color: mediumpurple;
    color: white;
    width: 100%;
    height: 30px;
    text-align: center;
}

#status span {
    font-size: 14pt;
}

.options-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.options-row label {
    flex-grow:  1;
    flex-basis: 30%;
    font-size: 10pt;
    font-weight:  bold;
    color: mediumpurple;
}

.options-row input[type="text"] {
    flex-grow:  1;
    flex-basis: 70%;
}
.options-row input[type="checkbox"] {
    flex-grow: 0;
}

.filter-page-label {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

